@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
    scroll-behavior: smooth !important;
}

.fade {
    bottom: 0;
    opacity: 0;
    animation: fadeInTop 0.8s forwards;
}

.fadeLate {
    bottom: 0;
    opacity: 0;
    animation: fadeInBottom 1.5s forwards 1.2s;
}


.slide {
    bottom: 0;
    opacity: 0;
    animation: slideUp 1s forwards;
}


@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide:nth-child(1) {
    animation-delay: 0s;
    /* Delay for first paragraph */
}

.slide:nth-child(2) {
    animation-delay: 0.3s;
    /* Delay for second paragraph */
}

.slide:nth-child(3) {
    animation-delay: 0.6s;
    /* Delay for third paragraph */
}

.slide:nth-child(4) {
    animation-delay: 0.9s;
    /* Delay for third paragraph */
}